<h1>Books</h1>


<table>
  <tr>
    <th>Title</th>
    <th>body</th>
</table>


<% #新規投稿画面 %>
<h2>New book</h2>

<%= form_with model: @book do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
<% end %>