// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  color: #333333;
}

h2 {
  margin: 16.815px 0;
  font-size: 19.5px;
}

label {
  font-size: 13px;
  color: #333333;
}

.actions {
  display: block;  
  margin: 0 0 10px;
}

.field {
  margin: 0 0 10px;
}

a{
  font-size: 13px;
  color: #000000;
}

a:hover{
  background-color: #000000;
  color: #FFFFFF;
}

.field_with_errors{
display: table;
}

.field input {
  padding: 1px 2px;  
  width: 153px;
  height: 21px;
}

.error-bg{
  background-color: #FF0000;
  padding: 2px;
}

.field textarea{
  padding: 2px; 
  width: 162px;
  height: 34px;  
}

.actions input {
  padding: 1px 6px ;
  width: 93.08px;
  height: 21px; 
  font-size: 13px;
  text-align: center;
  line-height: 21px;
  letter-spacing: -0.5px;
}

.error-window {
  border: 2px solid red;
  width: 468px;
  background-color: #f0f0f0;;
  margin: 0 0 20px;
}

.error-window ul{
  margin :33px;
  padding: 0 0 0 40px;
  font-size: 13px;
}

.error-explanation {
  background-color: #CC0000;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  width: 464px;
  height: 28px;
  padding: 5px 5px 5px 15px;
  display: flex;
  align-items: center; 
}

.result-message {
  font-size: 13px;
  margin: 33px;
  color: #008000
}

.show-contents{
  font-size: 13px;
  color: #333333;
}

.show-contents  strong{
margin-right:5px
}

table.is_border{
  border-spacing: 0;
  font-size: 13px;
}

table.is_border th{
  padding:1px 1px 5px ;
  color: #333333;
}

table.is_border td{
  margin: 33px;
  padding:1px 5px 7px;
}

table.is_border td{
  margin: 33px;
  padding:1px 5px 7px;
}