// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, arial, helvetica, sans-serif;
}

body{
  margin: 33px;
  color: #333333;
}

h1{
  margin:17.42px 0;
  font-size: 26px;
  color: #333333;
}

p{
  margin: 33px;
  line-height: 18px;
  font-size: 13px;
  color: #333333;
}


.top-start a{
  color: #000000;
}


